@import "tailwindcss";
.highlightedTableRow {
  background-color: theme("colors.green.200"); /* Light green background */
}
.highlightedTableCell {
  background-color: theme("colors.green.400"); /* Lighter green for cells */
}

section {
  min-height: 550px; /* Override default min-height which was unreasonably about 900px*/
}
